// Materia 4.1.1
// Bootswatch

// Variables ===================================================================
//$web-font-path: "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" !default;
//@import url($web-font-path);

// Effects =====================================================================

@mixin ripple($color) {
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    margin-left: 0;
    background-size: 1000% 1000%;
    background-position: 50%;
    pointer-events: none;
    @include opacity(0);
    @include transition(background .5s, opacity 1s);
    @include gradient-radial($color 10%, transparent 10.01%);
  }

  &:active:after {
    background-size: 0 0;
    @include opacity(0.2);
    @include transition(0s);
  }

  &.disabled,
  &[disabled] {
    &:after {
      display: none;
    }
  }
}

// Navbar ======================================================================

.navbar {
  border: none;

  &-nav .nav-link {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }
}

// Buttons =====================================================================

@mixin btn($class, $bg, $color) {
  .btn-#{$class} {
    &:focus {
      background-color: $bg;
      @include box-shadow(none !important);
    }

    &:hover,
    &:active:hover {
      background-color: darken($bg, 6%);
    }

    @include ripple($color);
  }

  .btn-outline-#{$class} {
    color: $class !important;
    border-color: $bg !important;
    @include ripple($color);

    &:hover, &:focus, &:active, &.active {
      color: $color !important;
      background-color: $bg;
    }
  }
}

@include btn(primary, $primary, $white);
@include btn(secondary, $secondary, $white);
@include btn(success, $success, $white);
@include btn(info, $info, $white);
@include btn(warning, $warning, $white);
@include btn(danger, $danger, $white);
@include btn(dark, $dark, $white);
@include btn(light, $light, $dark);
@include btn(default, $gray-200, $gray-700);

.btn {
  @include box-shadow(none !important);
  @include transition(all 0.4s);

  &-primary {
    &, &[disabled] {
      color: $white;
    }
  }

  &-light {
    border: 1px solid $border-color;
  }

  &-link {
    &, &[disabled] {
      color: $black;
      background-color: #fff;
    }

    &,
    &:hover,
    &:focus {
      color: black;
      border: 1px solid $border-color;
      background-color: #fff;
    }
  }

  &.dropdown-toggle::before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
}

// Typography ==================================================================

body,
input,
button {
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.3px;
}

label {
  @include user-select(none);

  &.disabled,
  &.disabled.active,
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active:hover {
      cursor: not-allowed;
      color: $gray-800 !important;
      background-color: $gray-200 !important;
      border-color: $border-color !important;
    }
  }
}

a {
  @include transition($transition-base);
}

// Tables ======================================================================
.table-success td {
  border-top-color: lighten($success, 10%)
}

// Forms =======================================================================

textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
  margin-bottom: $form-margin-bottom;
  font-family: $font-name-regular, 'b Yekan', Tahoma;
  @include box-shadow(none !important);

  &:focus {
    @include box-shadow(none !important);
  }

  &[disabled],
  &[readonly] {
    box-shadow: none;
    border-color: $border-color;
  }

  //&:not(textarea) {
  //    height: $input-height;
  //}

  &::-ms-clear {
    display: none;
  }
}

.input-group {
  margin-bottom: $form-margin-bottom;

  .form-control {
    margin-bottom: 0 !important;
  }
}

textarea,
textarea.form-control {
  overflow-y: hidden !important;
}

.custom-control-label {
  cursor: pointer;

  &::before {
    background-color: $gray-200;
    border: 1px solid $gray-400;
  }

  &:after, &:before {
    top: 2px;
  }
}

.custom-radio {
  .custom-control-input:checked ~ .custom-control-label::before,
  .custom-control-label::after,
  .custom-control-label::before {
    top: 3px;
    @include border-radius(50% !important);
  }
}

.custom-radio, .custom-checkbox {
  .custom-control-input:checked ~ .custom-control-label::before {
    border: none;
  }
}

.custom-checkbox .custom-control-input:checked {
  ~ .custom-control-label::after {
    @include transform(scale(1.5))
  }
}

.custom-radio .custom-control-input {
  &:checked {
    ~ .custom-control-label::after {
      @include transform(scale(1.2));
      @include transition(240ms);
    }
  }

  & {
    ~ .custom-control-label::after {
      @include transform(scale(.75));
    }
  }
}

.custom-control-input {
  right: 0;
  width: 100%;
}

.custom-control-label::before {
  background-color: #fbfbfb;
  border: 1px solid #ddd;
}

// Navs ========================================================================
.tabs {
  .nav-tabs {
    margin-bottom: 10px;
  }

  .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav-link,
  .nav-link:focus {
    border: none;
    font-size: 16px;
    color: $body-color;
    margin-right: 0;
    padding-bottom: 15px;
    @include transition($transition-base);
  }

  .nav-link.active,
  .nav-link.active:focus {
    border: none;
    color: $nav-tabs-link-active-color;
    @include box-shadow(inset 0 -3px 0 $secondary);
  }

  .nav-link.disabled {
    @include box-shadow(inset 0 -1px 0 #ddd)
  }

  &.nav-justified {
    .nav-link,
    .nav-link:hover,
    .nav-link:focus,
    .nav-link.active,
    .nav-link.active:hover,
    .nav-link.active:focus {
      border: none;
    }
  }
}

// Containers ==================================================================
.badge-info {
  color: #fff;
  background-color: $cyan;
}
