.transitioning {
  @include transition($transition-base);
}

.page-enter,
.page-enter-active,
.page-leave-active,
.page-leave,
.page-leave-to {
  @include opacity(0);
}

.v-center {
  left: 0;
  top: 50%;
  right: 0;
  margin: 0 auto;
  position: absolute;
  z-index: $zindex-dropdown;
  @include transform(translateY(-50%));
}
